<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konnectia</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <nav class="navigation-bar">
   <div class="info">
    <div class="nav-options">
      <div class="logo"><p>Konnectia</p></div>
      <div class="content">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Department</a>
        <a href="#">Community</a>
      </div>
      <div class="login-register">
        <button type="button" class="login">Login</button>
        <button type="button" class="register">Register</button>
      </div>
    </div>
   </div>
  </nav>
  <style src="script.js"></style>
</body>
</html>